
.logo {
  & a {
    display: block;
    width: 10vw;
    color: #343b43;
    margin-right: 0.25rem !important;
    margin-left: 1vw;
  }

  & a img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
  }

}

.btn {
  width: 18vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #ac32e4 0%, #ac32e4 20%, #e833b0 100%) !important;
  position: relative;
  height: 4vw;
  transform: translateZ(0);
  border: 0;
  letter-spacing: 0.1vw;
  cursor: pointer;
  z-index: 1;
  text-transform: uppercase;
  text-decoration: none;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  gap: 0.5vw;
  margin-right: 1vw;

  & a {
    color: #fff;
    font-size: 0.8vw;
  }

  & svg {
    height: 1vw;
    width: 1vw;
    color: white;
  }
}

.items {
  display: flex;
  flex-direction: row;
}

.teleg {
  margin-right: 0.3vw;
}

.peace {
  margin-right: 0.3vw;
}

.icon_menu {
  display: none;
}

.menu_item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 2vw;
  margin-left: 2vw;
}


@media screen and (min-width: 1170px) {
  .icon_menu {
    display: none;
  }
  .logo {
    & a {

      width: 127px;
      margin-left: 10px;

    }


  }

  .btn {
    width: 200px;
    height: 44px;
    margin-right: 10px;
    gap: 8px;
    letter-spacing: 1px;


    & a {

      font-size: 13px;
    }

    & svg {
      height: 15px;
      width: 15px;

    }
  }

  .teleg {
    margin-right: 5px;
  }

  .peace {
    margin-right: 5px;
  }
  .menu_item {
    margin-right: 20px;
    margin-left: 20px;
  }
}


@media screen and (max-width: 800px) {

  .menu_item {
    display: none;
  }
  .logo {
    margin-right: 3vw;
  }
  .logo a {
    width: 20vw;
  }

  .items {
    display: none;
  }
  .btn {
    display: none;
  }
  .icon_menu {
    display: block;
    height: 5vw;
    width: 5vw;
  }
  .navbar_items {
    justify-content: flex-end;
  }


  .hidden_menu {
    display: flex;
    justify-content: space-between;
    position: fixed;
    list-style: none;
    padding: 10px;
    margin: 0;
    box-sizing: border-box;
    width: 200px;
    height: 300px;
    margin-top: 3vw;
    background-color: white;
    top: 0;
    left: 350px;
    transition: left .2s;
    z-index: 2;
    -webkit-backface-visibility: hidden;

    & ul {
      margin-top: 0.7vw;
    }
  }
  .cross {
    color: white;
    width: 20px;
    height: 20px;
    margin-top: 0.5vw;
    background-color: darkgrey;
    margin-right: 5px;
  }


}



