.container {
  width: 100%;
  background-image: url("../../Data/HomePage/hero-bg.png");
  background-repeat: no-repeat !important;
  background-position: center !important;
  padding-top: 3vw;
  margin-top: 5vw;
  margin-bottom: 5vw;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.left_side {
  padding-right: 0;
  padding-left: 0;
  flex: 0 0 58.3333333333%;
  max-width: 58.3333333333%;
}

.img {
  margin: auto;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;

  img {
    width: 60%;
    height: 70%;
    vertical-align: middle;
  }
}

.right_side {
  flex: 0 0 33.3333333333%;
  width: 33.3333333333%;

  strong {
    font-weight: bolder;
    font-family: "Montserrat", sans-serif
  }

  h1 {
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 1vw;
    color: #343b43;
    font-weight: 900;
    letter-spacing: .021em;
    font-size: 4vw;

    span {
      color: #62707f;
    }


  }

  p {
    font-size: 1.5vw;
    margin-top: 0;
    margin-bottom: 3rem;
    font-weight: bolder;
    letter-spacing: 0.05vw;
  }

  p span {
    color: #62707f;
  }
}

.btn_order {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  border-radius: 2vw;
  height: 4vw;
  font-size: 1vw;
  background: linear-gradient(to right, #ac32e4 0%, #ac32e4 20%, #e833b0 100%) !important;
  color: #fff;
  position: relative;
  letter-spacing: .1em;
  cursor: pointer;
  z-index: 1;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  line-height: 5vw;
  padding: 0 1.5vw;
  border: none;
  font-weight: bolder;
}

.circle {
  display: block;
  left: 0.5vw;
  width: 2.3vw;
  height: 2.3vw;
  -webkit-transition: all 0.3s !important;
  transition: all 0.3s !important;
  border-radius: 50%;
  line-height: 2vw;
  background-color: #fff;
  color: black;
}

/* container2*/

.container2 {
  //width: 100%;
  margin-right: auto;
  margin-left: auto;
  //padding-right: 2vw;
  //padding-left: 2vw;
}

.row {
  width: 100%;
  display: flex;
  flex-direction: row;


}

.block_item {
  width: 24%;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2vw !important;
  border: 1px solid #e7e7e7;

  & div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2px
  }

  & h5 {
    font-family: "Montserrat", sans-serif;
    font-size: 2.5vw;
    font-weight: bold;
    line-height: 1.2;
    letter-spacing: .031em;
    margin-top: -5px;
    margin-bottom: 3vw;
  }

  & p {

    margin-top: -2vw;
    text-align: center !important;
    font-size: .875rem;

  }

}

.block_item:last-child {
  border-right: none;
}

.block_item:first-child {
  border-left: none;
}

.line {
  width: 3vw;
  background: linear-gradient(to right, #ac32e4 0%, #ac32e4 20%, #e833b0 100%) !important;
  height: 1px;

}

@media screen and (min-width: 1170px) {
  .container {
    width: 100%;
    margin-top: 100px;
    margin-bottom: 60px;
    padding-top: 50px;

  }
  .left_side {
    .img img {
      height: 400px;
      width: 480px;
    }
  }


  .right_side {

    h1 {
      margin-bottom: 20px;
      letter-spacing: 4px;
      font-size: 45px;

    }

    p {
      font-size: 20px;
      margin-top: 0;
      margin-bottom: 30px;
    }

  }

  .btn_order {
    gap: 5px;
    border-radius: 27px;
    height: 54px;
    font-size: 14px;
    line-height: 54px;
    padding: 0 15px;

  }

  .circle {
    left: 7px;
    width: 31px;
    height: 31px;
    line-height: 30px;

  }

  /* container2*/

  .container2 {
    //
    //padding-right: 30px;
    //padding-left: 30px;
  }


  .block_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px !important;


    & h5 {
      font-family: "Montserrat", sans-serif;
      font-size: 40px;
      margin-top: -5px;
      margin-bottom: 40px;
    }

    & p {
      margin-top: -30px;

    }


  }

  .line {
    width: 36px;
    height: 1px;

  }
}

@media screen and (min-width: 1920px) {
  .container2 {
    width: 1920px;
  }
}


@media screen and (max-width: 800px) {
  .container {
    margin-top: 5vw;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    gap: 5vw
  }
  .right_side {
    order: 1;
    width: 90%;

    h1 {
      font-size: 6vw;
      text-align: center;
    }

    p {
      text-align: center;
      font-size: 3vw;
    }
  }
  .left_side {
    order: -1;
    width: 100%;

    .img img {
      height: 60vw;
      width: 65vw;
      margin-top: auto;

    }
  }
  .btn_order {
    margin-right: auto;
    margin-left: auto;
    height: 7vw;
    width: 35%;
    border-radius: 50px;
    font-size: 1.8vw;
    gap: 10px;
    padding: 3vw;
  }

  .container2 {
    width: 100%;
  }

  .row {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .block_item {
    width: 45%;
    height: 35vw;
    justify-content: center;
    border-left: none;
    border-right: none;

    h5 {
      font-size: 8vw;
    }

    p {
      font-size: 4vw;
    }

    &:first-child {
      border-right: 1px solid #e7e7e7;;
    }

    &:nth-last-child(2) {
      border-right: 1px solid #e7e7e7;;
    }


  }
  .line {
    width: 8vw;
    height: 2px;
  }
  .circle {

    left: 0.5vw;
    width: 4vw;
    height: 4vw;

    svg {
      margin-top: 1vw;
    }

  }


}

@media screen and (max-width: 550px) {
  .block_item {
    width: 100%;
    height: 35vw;
    justify-content: center;
    border-left: none;
    border-right: none;

    h5 {
      font-size: 8vw;
    }

    p {
      font-size: 4vw;
    }


  }
  .block_item:nth-last-child(2) {
    border-right: none;
  }

  .block_item:first-child {
    border-right: none;
  }
  .btn_order {
    gap: 5px;
  }
}