.active_button_all {
  border-color: #ac32e4;
  background-color: #ac32e4;
  border-bottom: 0.2vw solid #e7e7e7;
  color: white;
  cursor: pointer;
  display: block;
  padding: 0.8vw 1.3vw;
  margin-left: 1vw;
  text-transform: uppercase;
}

.no_active_all {
  border-bottom: 0.2vw solid #e7e7e7;
  background-color: white;
  color: #000;
  cursor: pointer;
  padding: 0.8vw 1.3vw;
  margin-left: 1vw;
  text-transform: uppercase;
}

.active_button_app {
  border-color: #ac32e4;
  background-color: #ac32e4;
  border-bottom: 0.2vw solid #e7e7e7;
  color: white;
  cursor: pointer;
  display: block;
  padding: 0.8vw 1.3vw;
  margin-left: 1vw;
  text-transform: uppercase;
}

.no_active_app {
  background-color: white;
  border-bottom: 0.2vw solid #e7e7e7;
  color: #000;
  cursor: pointer;
  padding: 0.8vw 1.3vw;
  margin-left: 1vw;
  text-transform: uppercase;
}

.pagination {
  display: flex;
  flex-direction: row;
  gap: 1vw;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  font-size: 1.3vw;

}

.background_pagin {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #cdcdcd;
  height: 2vw;
  width: 2vw;

}

.heart_icon {
  color: red;
}

.heart_icon_press {
  background-color: red;
}

a {
  text-decoration: none;
}

@media screen and (min-width: 1170px) {
  .active_button_all {
    padding: 10px 20px;
    margin-left: 10px;

  }

  .no_active_all {
    padding: 10px 20px;
    margin-left: 10px;

  }

  .active_button_app {
    padding: 10px 20px;
    margin-left: 10px;

  }

  .no_active_app {
    padding: 10px 20px;
    margin-left: 10px;

  }
  .background_pagin {
    font-size: 16px;
    height: 30px;
    width: 30px;
  }
  .pagination {
    gap: 10px
  }
}

@media screen and (max-width: 550px) {
  .background_pagin {
    height: 5vw;
    width: 5vw;
    font-size: 2.5vw;
  }
}