
.footer {
  background-color: #343b43 !important;
  color: white;
}

.container {
  width: 80%;
  background-color: #343b43 !important;
  display: flex;
  flex-direction: row;
  margin-right: auto;
  margin-left: auto;
  margin-top: 3vw;
  padding-top: 2vw;
  padding-bottom: 5vw;
}

.row {

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  gap: 5vw;


}

.first_block {
  display: flex;
  flex-direction: column;
  gap: 5px
}

.text {
  text-align: justify;
}

.icons_contacts {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.icon_instagram_left {
  transform: rotate(180deg);
  transform: scale(1, -1)
}

.icon_facebook_left {
  transform: rotate(180deg);
  transform: scale(1, -1)
}

.icon_telegram_left {
  transform: rotate(180deg);
  transform: scale(1, -1)
}

.logo_image {
  width: 40px;
  height: 40px;
  margin-top: 20px;
}

.second_block {
  display: flex;
  flex-direction: column;
  margin-top: 2px;

}

.services_block {

}

.services_links {
  display: flex;
  flex-direction: column;
  gap: 10px;

}

.second_block h3 {
  border-bottom: 2px solid #b69d74;
}

.third_block {
  margin-top: 5px;
}

.third_block h3 {
  border-bottom: 2px solid #b69d74;
}

.fourth_block h3 {
  border-bottom: 2px solid #b69d74;
}

.fourth_block {
  display: flex;
  flex-direction: column;
  margin-top: 5px;

}

.contacts_links {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-items: left;

}

.quick_links {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-items: left;

}

.phone_icon_and_text {
  display: flex;
  flex-direction: row;
  gap: 10px;
  cursor: pointer;
  align-items: center;
}

.icon_telephone {
  transform: rotate(180deg);
  color: #b69d74;
}

.insta_icon_and_text {
  display: flex;
  flex-direction: row;
  gap: 10px;
  cursor: pointer;
  align-items: center;
}

.icon_insta {
  transform: rotate(180deg);
  color: #b69d74;
  transform: scale(1, -1)
}

.email_icon_and_text {
  display: flex;
  flex-direction: row;
  gap: 10px;
  cursor: pointer;
  align-items: center;


}

.icon_email {
  transform: rotate(180deg);
  color: #b69d74;

}

.icon_arrow {
  width: 15px;
}

.links_items {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  cursor: pointer;

}

.links_items a {
  text-decoration: none;
  color: white
}

.copyrights {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
  color: darkgrey;
}

.author_contacts {
  display: flex;
  /*width: 50%;*/
  flex-direction: row;
  align-items: center;
  gap: 20px;

}

.author_telegram {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

@media screen and (min-width: 1170px) {
  .container {
    width: 1170px;
    margin-top: 30px;
    padding-top: 30px;
    padding-bottom: 50px;
  }
  .logo img {
    width: 110px;
    height: 60px;
    background-color: white;
  }
}

@media screen and (max-width: 970px) {
  .container {
    padding: 3vw;

  }
}

@media screen and (max-width: 550px) {

}