
.footer {
  background-color: #343b43 !important;
  color: white;
}

.container {
  width: 80%;
  background-color: #343b43 !important;
  display: flex;
  flex-direction: row;
  margin-right: auto;
  margin-left: auto;
  margin-top: 3vw;
  padding-top: 2vw;
  padding-bottom: 5vw;

  h3 {
    font-size: 1.5vw;
  }
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  gap: 5vw;
}

.first_block {
  display: flex;
  flex-direction: column;
  gap: 5px
}

.text {

  font-size: 1vw;
}

.icons_contacts {
  display: flex;
  flex-direction: row;
  gap: 1vw;

  svg {
    height: 1.5vw;
    width: 1.5vw;
  }
}

.icon_instagram_left {
  transform: rotate(180deg);
  transform: scale(1, -1)
}

.icon_facebook_left {
  transform: rotate(180deg);
  transform: scale(1, -1)
}

.icon_telegram_left {
  transform: rotate(180deg);
  transform: scale(1, -1)
}

.logo_image {
  width: 9vw;
  height: 3vw;
  margin-top: 1vw;
}

.second_block {
  display: flex;
  flex-direction: column;
  margin-top: 2px;

}

.services_links {
  display: flex;
  flex-direction: column;
  gap: 10px;

}

.second_block h3 {
  border-bottom: 1px solid #b69d74;
}

.third_block {
  margin-top: 5px;
}

.third_block h3 {
  border-bottom: 1px solid #b69d74;
}

.fourth_block h3 {
  border-bottom: 1px solid #b69d74;
}

.fourth_block {
  display: flex;
  flex-direction: column;
  margin-top: 5px;

}

.contacts_links {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-items: left;

}

.quick_links {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-items: left;

}

.phone_icon_and_text {
  display: flex;
  flex-direction: row;
  gap: 0.5vw;
  cursor: pointer;
  align-items: center;
  font-size: 1vw;

  svg {
    height: 1vw;
    width: 1vw;
  }
}

.icon_telephone {
  transform: rotate(180deg);
  color: #b69d74;
}

.insta_icon_and_text {
  display: flex;
  flex-direction: row;
  gap: 0.5vw;
  cursor: pointer;
  align-items: center;
  font-size: 1vw;

  svg {
    height: 1vw;
    width: 1vw;
  }
}

.icon_insta {
  transform: rotate(180deg);
  color: #b69d74;
  transform: scale(1, -1)
}

.email_icon_and_text {
  display: flex;
  flex-direction: row;
  gap: 0.5vw;
  cursor: pointer;
  align-items: center;
  font-size: 1vw;

  svg {
    height: 1vw;
    width: 1vw;
  }


}

.icon_email {
  transform: rotate(180deg);
  color: #b69d74;

}

.icon_arrow {
  width: 15px;
}

.links_items {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  cursor: pointer;
  font-size: 1.2vw;

}

.links_items a {
  text-decoration: none;
  color: white;
  font-size: 1.2vw;
}

.copyrights {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
  color: darkgrey;
}

.author_contacts {
  display: flex;
  /*width: 50%;*/
  flex-direction: row;
  align-items: center;
  gap: 20px;

}

.author_telegram {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.first_and_second_blocks {
  display: flex;
  flex-direction: row;
  gap: 3vw
}

.third_and_fourth_blocks {
  display: flex;
  flex-direction: row;
  gap: 3vw
}

@media screen and (min-width: 1170px) {
  .container {
    width: 1170px;
    margin-top: 30px;
    padding-top: 30px;
    padding-bottom: 50px;

    h3 {
      font-size: 18px;
    }
  }
  .logo img {
    width: 110px;
    height: 60px;
    background-color: white;
  }
  .row {
    gap: 80px
  }

  .text {
    font-size: 14px;
  }
  .links_items {
    font-size: 14px;

  }
  .links_items a {
    font-size: 14px;
  }
  .phone_icon_and_text {
    font-size: 14px;

    svg {
      height: 15px;
      width: 15px;
    }
  }
  .insta_icon_and_text {
    font-size: 14px;

    svg {
      height: 15px;
      width: 15px;
    }
  }

  .email_icon_and_text {
    font-size: 14px;

    svg {
      height: 15px;
      width: 15px;
    }


  }
  .icons_contacts {
    gap: 10px;

    svg {
      height: 15px;
      width: 15px;
    }
  }
  .first_and_second_blocks {

    gap: 40px
  }

  .third_and_fourth_blocks {

    gap: 40px
  }
}

@media screen and (max-width: 970px) {
  .container {
    padding: 3vw;

  }
}

@media screen and (max-width: 550px) {
  .row {
    flex-direction: row;
  }
  .text {
    font-size: 2vw;
  }
  .container {
    h3 {
      font-size: 3vw;
    }
  }
  .links_items {
    font-size: 2vw;

    a {
      font-size: 2vw;
    }
  }
  .phone_icon_and_text {
    font-size: 2vw;

    svg {
      height: 2vw;
      width: 2vw;
    }
  }
  .insta_icon_and_text {
    font-size: 2vw;

    svg {
      height: 2vw;
      width: 2vw;
    }
  }


  .email_icon_and_text {
    font-size: 2vw;

    svg {
      height: 2vw;
      width: 2vw;
    }
  }
  .logo_image {
    height: 5vw;
    width: 12vw;
  }
  .first_and_second_blocks {
    display: flex;
    flex-direction: row;
    gap: 15vw
  }
  .first_block {
    margin-top: 2vw;
  }
  .third_and_fourth_blocks {
    display: flex;
    flex-direction: row;
    gap: 35vw
  }
  .icons_contacts {
    gap: 2vw;

    svg {
      height: 2.5vw;
      width: 2.5vw;
    }
  }


}